# Клиентский бот (от BotFather)
BOT_TOKEN=8686816041:AAGZ8qCE_eWWuqdiH6yZ2f0DotRik7BgGvE

# GramJS — твой личный аккаунт Telegram
API_ID=API_ID=2040
API_HASH=b18441a1ff607e10a989891a5462e627
SESSION_STRING=your_session_string

# TON VPN бот
TON_VPN_BOT=@tonvpn_bot

# Твой Telegram ID (для уведомлений)
ADMIN_ID=6952754290
